---
import '@/styles/globals.css'
import { Switch } from "@/components/ui/switch"

const { currentPage } = Astro.props
---

<header class="p-3 bg-slate-100 bg-opacity-80 backdrop-blur-md border-b text-slate-900">
	<nav title="Top Navigation" class="max-w-7xl mx-auto flex justify-between items-center px-4">
		<a href="/">
			<h1 class="text-lg font-medium tracking-wide">
				LeadGrid Developer向けドキュメント
			</h1>
		</a>
	</nav>
</header>
